@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #ffffff;
  --background: #000000;
  --primary: #39d9dc;
  --secondary: #8ca208;
  --accent: #8bf426;
}

body {
  color: var(--text);
  background: var(--background);
}
