@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #ffffff;
  --background: #000000;
  --primary: #39d9dc;
  --secondary: #8ca208;
  --accent: #8bf426;
}

body {
  color: var(--text);
  background: var(--background);
}
@keyframes loading {
  from {
    opacity: 0.2;
  }
  to{
    opacity: 1;
  }
}
.animation-loading{
  animation: loading 1.5s ease-in-out forwards infinite;
  animation-direction: alternate;
}
.animation-ease-in{
  animation: loading 750ms ease forwards;
}